{
  "openapi": "3.0.0",
  "info": {
    "title": "Google Flights Search API",
    "description": "API for searching flight information via Google Flights",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://serpapi.com"
    }
  ],
  "paths": {
    "/search.json": {
      "get": {
        "summary": "Search flights",
        "operationId": "searchFlights",
        "parameters": [
          {
            "name": "engine",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "google_flights"
            }
          },
          {
            "name": "departure_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arrival_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outbound_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "return_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "travel_class",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_airlines",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightSearchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "FlightSearchResponse": {
        "type": "object",
        "properties": {
          "search_metadata": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "json_endpoint": {
                "type": "string"
              }
            }
          },
          "best_flights": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "airline": {
                  "type": "string"
                },
                "flight_number": {
                  "type": "string"
                }
              }
            }
          },
          "price_insights": {
            "type": "object",
            "properties": {
              "lowest_price": {
                "type": "number"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  }
}
